*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
    
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 200px;
    font-weight: 900;
    
    background:linear-gradient(to right,lightblue,red,lightgreen);
    background-clip: text;
    padding: 20px 50px;
    color: transparent;
    border-radius: 15px;
    -webkit-text-stroke: 2px blue;
}