*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: #171515;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}.card{
    /* height: 300px; */
    width: 220px;
    background-color: rgb(229, 211, 215);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}
.card img{
    height:150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.card h3{
    font-size: 28px;
    font-weight: 800;
    
    white-space: nowrap;
}
.card h4{
    font-size: 24px;
    font-weight: 600;
    color: crimson;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}