*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
    
}
body{
   
    background-color: black;
    padding: 30px;
}
.elem{
   padding: 20px;
    margin-top: 10px;
    background-color: rgb(93, 120, 108);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}
button{
    
    background-color: rgb(129, 110, 215);
    color: rgb(219, 216, 211);
    padding: 10px 20px;
    
}